body{
    padding-top: 5rem;
    background-color: whitesmoke;
    font-family: $fontUsed;
    overflow-wrap: break-word;
}

.contentText{
    margin: 0 0 16px 0;
    font-size: 16px;
    font-weight: 400;
    color: rgb(33, 37, 41);
    text-size-adjust: 100%;
    overflow-wrap: break-word;
    line-height: 24px;
    box-sizing: border-box;
}

.dropDown{
    @include flexSetting($flow: column);
}

.caption{
    margin-top: 15px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.bodyContainer{
    width: $widthDiv - 2.5rem;
    height: 168px;
    background: white;
    padding: 20px;
    
}