.ddClear{
    border: none;
    background: inherit;
    color: rgb(173, 171, 171);
    cursor: pointer;
    font-size: 20px;
    margin-right:0px;
    margin-left: 22px;
}
.ddHeaderAction{
    padding-top: 5px; 
}
.ddClose{
    padding-top: 6px;
    font-size: 10px;
    padding-left:5px;
    color: rgb(173, 171, 171);
}
.ddClose:hover, .ddClose:focus{
    color: rgb(102, 101, 101);
}
.ddClear:hover, .ddClear:focus{
    color: rgb(211, 12, 12);
}
.ddInputWrapper
{
    @include styling();
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    padding: 0 20px;
    height: 36px;
    font-family: $fontUsed;
}
.ddInputWrapper:active{
    border: 1px solid #007EFF;
}
.ddInputWrapper:focus-within{
    border: 1px solid #007EFF;
}
.ddHeaderTitleBold{
    width: 100%;
    border: none;
}
.ddHeaderTitleBold:focus{
    outline: none;
}
.ddHeaderTitleGray:focus{
    outline: none;
}
.ddHeaderTitleGray{
    border: none;
    width: 100%;
}
.ddHeaderTitleBold::placeholder{
    color:black;
    font-size: 16px;
    font-family: $fontUsed;
}
.caption{
    padding-top: 20px;
    font-family: $fontUsed;
    font-size: 16px;
}
.ddWrapper {
  display: flex;
  min-height: 38px;
  flex-wrap: wrap;
  position: relative;
  max-height: 85px;

  .ddHeaderTitle {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 90%;
    padding: 0;
  }

  .ddList {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
    padding: 0;
    margin: 0;
    width: 100%;
    margin-top: 35px;
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 100;
    position: absolute;
    li {
      list-style-type: none;
      button {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding: 8px 10px 8px 10px;
        border: none;
        width: 100%;
        text-align: left;

      }
    }
  }
}
.ddButton:hover, .ddButton:focus {
          cursor: pointer;
          background: #f5faff;
        }
.ddButton:disabled{
    font-weight: initial;
    color: lightgray;
}
.ddButton:disabled:hover, .ddButton:disabled:focus{
    background-color: white;
}
.ddButton{
    background-color: white;
    color: #333;
    height: 40px;
}
.ddListItem:hover, .ddListItem:focus{
background-color: #ebf5ff;
}
.ddButtonSelected{
    font-weight: bold;
    background-color: #ebf5ff;
    height:40px;
}