@media (max-width:500px) 
{
  .container{
    max-width: 310px;
    height: auto;
  } 
  .headerContainer{
    max-width: 270px;
    padding-bottom: 30px;
  }
  .bodyContainer{
    max-width: 270px;
  }
  
}