$width-div : 48.813rem;
$header-color: rgba(0,0,0,.03);
$header-height: 1.925rem;
$body-height : 11.75rem;
$font-used: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

@mixin flex-setting($flow: row)
{
  display: flex;
  flex-flow: $flow;
  justify-content: space-between;
}

%hover-setting
{
  border-radius: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(0, 0, 0, 0.2);
}

%click-setting
{
  transform: translateY(4px);
}



body{
  padding-top: 5rem;
  background-color: whitesmoke;
  font-family: $font-used;
  overflow-wrap: break-word;
}
.contentText{
  margin: 0 0 16px 0;
  font-size: 14px;
}
.drop-down{
  @include flex-setting($flow: column);
}
.image{
 height: 0.938rem;
 width: 1.125rem;
}
.buttonContainer{
  height: 1.438rem;
  
  color: rgb(33,37,41);
}
.codeButton{
height: 1.438rem;
border: rgba(0,0,0,.03);
  cursor: pointer;
}

.stack:active, .codeButton:active{
  @extend %click-setting;
}

 .stack:hover, .codeButton:hover{
    @extend %hover-setting;
}

.caption{
  margin-top: 15px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.container{
  width: $width-div;
  height: $header-height + $body-height;
  @include flex-setting($flow: column);
  align-items: center;
  box-shadow: 0 2px 1px -1px rgb(0, 0, 0 / 20%), 0 1px 1px 0 rgb( 0, 0, 0/14%), 0 1px 3px 0 rgb(0, 0, 0/12%);
  border: 0;
  border-radius: 4px;
}
.stack{
  border: rgba(0,0,0,.03);
  cursor: pointer;
}
.header-container{
  width: $width-div - 2.5rem;
  height: $header-height;
  @include flex-setting;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-size: 16px;
  font-weight: 500;
  font-family: $font-used;
  overflow-wrap: break-word;
  line-height: 24px;
  color: rgba(0,0,0,.54);
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}
.header-container:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.bodyContainer{
  width: $width-div - 2.5rem;
  height: 11.75rem;
  background: white;
  padding: 20px;
  
}
.App{
  @include flex-setting($flow: column);
  align-items: center;
  
}

@media (max-width:500px) 
{
  .container{
    max-width: 310px;
    height: auto;
  } 
  .header-container{
    max-width: 270px;
    padding-bottom: 30px;
  }
  .bodyContainer{
    max-width: 270px;
  }
  
}